.bgImg {
    background-image: url('bg5.jfif'); 
    background-repeat: no-repeat; 
    background-size: cover;
}

.margin{
    margin:20px;
}

.pixThumnail{
    width:40px;
    height:40px;
}

.loginDiv{
    width:450px;
    height:auto;
    z-index:100;
}

.floatRight{
    float:right
}

.fixPos{
    position:fixed
}

.addTweetDiv{
    top:68%;
    left:70%;
    width:370px;
    height:auto;
    position:fixed;
    z-index:49;
}

.friendsDiv{
    top:70px;
    left:0px;
    position:absolute;
    z-index:0;
}

.tweetDiv{
    top:70px;
    left:473px;
    width:450px;
    height:auto;
    position:absolute;
    z-index:0;
}

.tweetsDivInner{
    width:400px;
    height:auto;
}

.head{
    top:0px;
    left:0px;
    height:auto;
    position:fixed;
    width:100%;
    z-index:50;
}
