<div class="container">
    <div class="form-control form-inline head">
        <a class="btn btn-info" href="#/">Home</a>
        <h3 class="floatRight">Tweeta App</h3>
    </div>
    <div class="row clearfix margin">
        <div class="col-md-12 column form-control margin loginDiv floatRight">
            <h3>Register</h3><hr />
            <strong>User Name</strong>
            <input type="text" class="form-control" ng-model="userName" placeholder="User Name" /><br />
            <strong>Password</strong>
            <input type="password" class="form-control" ng-model="pwd" placeholder="Password" /><br />
            <strong>Re-type Password</strong>
            <input type="password" class="form-control" ng-model="pwdRetype" placeholder="Re-type Password" /><br />
            <hr />
            <button class="btn btn-info floatRight" ng-click="register(userName,pwd,pwdRetype)">Register</button><br />
        </div>
    </div>
</div>
<hr />