<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" style="margin:20px">
            <div class="jumbotron">
                <h1>
                    Welcome to Tweeta !!!!
                </h1>
                <p>
                    This App is a home work meant to help the developer practice his skills on AngularJS, JavaScript, JQuery,
                    HTML5, CSS3, Bootstrap, MVC, Agile, NoSQL (Firebase), SPA and Functional Programming. All these technologies
                    and methodologies were used in this App. Enjoy!
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#/login">Sign In</a> <a class="btn btn-primary btn-large" href="#/register">Register</a>
                </p>
            </div>
        </div>
    </div>
</div>